/* Splash Page  */
#splash_page_main_bg {
	width:1024px;
	height:768px;
	background:url(../../content/images/main_bg_splash.jpg) no-repeat;
	position:absolute;
	top:-50px;
	left:0;
	z-index:2;
}

#splash_page_carers_btn {
	width:357px;
	height:384px;
	background:url(../../content/images/splash_page_carers_btn.png) no-repeat;
	position:absolute;
	left:200px;
	top:140px;
}

#splash_page_pragmatist_btn {
	width:357px;
	height:384px;
	background:url(../../content/images/splash_page_pragmatist_btn.png) no-repeat;
	position:absolute;
	right:40px;
	top:140px;
}
#date_number {
    color: white; 
    font-size: 9px;
    position: absolute;
    bottom: 14px;
    left: 90px;
}

#splash_page_shortcall_btn {
    background:url(../../content/images/splash_page_shortcall_btn.png) no-repeat;
    position: absolute;
    height: 64px;
    width: 67px;
    top: 634px;
    left: 437px;

}