#sc_popup_04_01 h4 {
    color: rgb(174, 27, 53 );
    margin-left: 410px;
    margin-top: 20px;

    margin-bottom: 20px;
}
#slide-title_popup0401{
    z-index: 10000;
    position: relative;
    left: 84px;
    text-align: center;
    top: 31px;
    font-size: 14pt;
    margin: 0 !important;
    padding: 0 !important;
}
#sc_popup_04_01 #bottom-copy {
    position: relative;
    top: 446px;
    width: 703px;
    margin-left: 120px;

}
#sc_popup_04_01 #red-square{
    position: absolute;

    top: 580px;
    left: 101px;
}

/* GRAPH */
#legend1_popup0401{
    position: absolute;
    top: 58px;
    left: 112px;
    font-size: 15px;
    margin: 0 !important;
    padding: 0 !important;
}

#legend2_popup0401{
    position: absolute;
    top: 79px;
    left: 113px;
    font-size: 15px;
    padding: 0 !important;
    margin: 0 !important;
}
#legend3_popup0401{
    position: absolute;
    top: 102px;
    left: 113px;
    font-size: 15px;
    margin: 0 !important;
    padding: 0 !important;
}
#legend4_popup0401{
    position: absolute;
    top: 57px;
    left: 310px;
    font-size: 15px;
    margin: 0 !important;
    padding: 0 !important;
}

#sc_popup_04_01 #white-slogan{
    position: absolute;
    font-size: 19pt;
    color: rgb(255, 255, 255);
    top: 97px;
    left: 48px;
    width: 221px;
    text-align: center;
    line-height: 122%;
}

#sc_popup_04_01_large
{
    width:840px;
    -webkit-transform: scale(0.7);
    position: absolute;
    left: 116px;
    top: 36px;
}

#sc_popup_04_01_graph_holder img {
    margin-left: 50px;
    margin-top: 35px;
}


#sc_popup_04_01_graph_holder .poz_graph_1 {
    position: absolute;
    left: -75px;
    top: -68px;
}

#sc_popup_04_01_graph_holder .poz_graph_2 {
    position: absolute;
    right: -201px;
    top: -103px;
}

#sc_popup_04_01_graph_holder {
    right: 193px;
    width: 600px;
    height: 448px;
    position: absolute;
    top: 35px;
    right: 136px;
}

#sc_popup_04_01_graph_vertical_numbers {
    width:20px;
    position:absolute;
    top: 211px;
    left: -39px;
}

#sc_popup_04_01_graph_vertical_numbers ul {
    list-style:none;
    width:20px;
    padding:0;
    margin:0;
}

#sc_popup_04_01_graph_vertical_numbers li {
    width: 15px;
    margin: 0 0 0px 0;
    font-size: 15px;
    text-align: right;
    height: 64px;
    position: relative;
    top: -71px;
    left: 57px;
}


#sc_popup_04_01_graph_vertical_numbers-right {
    width:20px;
    position:absolute;
    top: 194px;
    right: 177px;
}

#sc_popup_04_01_graph_vertical_numbers-right ul {
    list-style:none;
    width:20px;
    padding:0;
    margin:0;
}

#sc_popup_04_01_graph_vertical_numbers-right li {
    width: 18px;
    margin: 0 0 37px 0;
    font-size: 15px;
    text-align: right;
    height: 70px;
    position: relative;
    top: -100px;
    left: 188px;
}



#sc_popup_04_01_graph_vertical_numbers li:nth-child(1) {
    position: relative;
    top: -116px;
    left: 52px;
    height: 22px;
}
#sc_popup_04_01_graph_vertical_numbers li:nth-child(3) {
    position: relative;
    top: -67px;
    left: 63px;
}

#sc_popup_04_01_graph_horizontal_numbers {
    position:absolute;
    top: 438px;
    left: 76px;
    width: 755px;
}

#sc_popup_04_01_graph_horizontal_numbers ul {
    list-style:none;
    padding:0;
    margin:0;
}

#sc_popup_04_01_graph_horizontal_numbers li {
    width: 64px;
    margin: 0 0px 0 0;
    display:inline-block;
    font-size: 15px;
    text-align:left;
}

#sc_popup_04_01_graph_content_large .graph1_vertical_axis_title_large {
    position: absolute;
    left: -265px;
    top: 220px;
    font-size: 18px;
    -webkit-transform: rotate(-90deg);
    z-index: 20;
    margin: 0 !important;
    padding: 0 !important;
}

#sc_popup_04_01_graph_content_large .graph1_horizontal_axis_title_large {
    position: absolute;
    left: 241px;
    top: 465px;
    font-size: 17px;
    margin: 0 !important;
    padding: 0 !important;
}

#sc_popup_04_01_graph_content_large .graph1_vertical_axis_title_large-right {
    position: absolute;
    right: -300px;
    top: 229px;
    font-size: 18px;
    -webkit-transform: rotate(-90deg);
    z-index: 20;
    margin: 0!important;
    padding: 0!important;
}

#sc_popup_04_01_graph_content_large .graph1_horizontal_axis_title_large-right {
    position: absolute;
    left: 212px;
    top: 578px;
    font-size: 21px;
}


#sc_popup_04_01_graph_content_large .graph1_legend_1_large {
    position: absolute;
    font-size: 14px;
    top: 80px;
    left: 558px;
    margin:0;
    padding:0;
}
#sc_popup_04_01_graph_content_large .graph1_legend_2_large {
    position: absolute;
    font-size: 14px;
    top: 102px;
    left: 558px;
    margin:0;
    padding:0;
}
#sc_popup_04_01_graph_content_large .graph1_legend_3_large {
    position: absolute;
    font-size: 14px;
    top: 643px;
    left: 155px;
    margin:0;
    padding:0;
}

#sc_popup_04_01_graph_content_large .graph1_bottom_text_large {
    position: absolute;
    top: 496px;
    left: 73px;
    font-size: 14px;
    margin:0;
    padding:0 !important;

    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
}

#enlarge_graph_1_sc_popup_04_01 {
    top: 142px;
    left: 787px;

}

#container_popup_04_01 {
    width: 840px;
    height: 600px;


    position: relative;
    right: -5px;
}
