
#sc_page03 h4 {
    color: rgb(174, 27, 53 );
    margin-left: 346px;
    margin-top: 40px;

}
#sc_page03 #bottom-copy {
    position: relative;
    top: 457px;
    width: 703px;
    margin-left: 117px;
}
/* GRAPH */
#legend1_sc_page03{
position: absolute;
    
top: 120px;
    
left: 400px;
font-size: 15pt;
    margin: 0 !important;
    padding: 0 !important;
}

#legend2_sc_page03{
    position: absolute;
    top: 145px;
    left: 400px;
    font-size: 15pt;
    margin: 0 !important;
    padding: 0 !important;
}

#white-slogan{
        position: absolute;
        font-size: 17pt;
        color: rgb(255, 255, 255);
        top: 82px;
        left: 51px;
        width: 221px;
        text-align: center;
        line-height: 122%;
        margin: 0 !important;
        padding: 0 !important;
}

#sc_page03_large
{
    width: 890px;
    height: 450px;
    -webkit-transform: scale(0.7);
    left: 63px;
    position: absolute;
    top: 50px;
}


#graph_container_page_03 {
    height: 608px;
    width: 925px;
    left: 2px;
    position: relative;
    width: 858px;
    top: 5px;
    padding: 0 !important;
    margin: 0 !important;
}

#sc_page03_graph_holder .poz_graph_1 {
    position: absolute;
    left: -89px;
    top: -93px;
}

#sc_page03_graph_holder .poz_graph_2 {
    position: absolute;
    right: -201px;
    top: -103px;
}

#sc_page03_graph_holder {
    /*right: 230px;*/
    /*width: 600px;*/
    /*height: 394px;*/
    /*position: absolute;*/
    /*top: 116px;*/
    position: relative;
    left: 95px;
    top: 40px;
}

#sc_page03_graph_vertical_numbers {
    width:20px;
    position:absolute;
    top: 113px;
    left: -41px;
}

#sc_page03_graph_vertical_numbers ul {
    list-style:none;
    width:20px;
    padding:0;
    margin:0;
}

#sc_page03_graph_vertical_numbers li {
    width:20px;
    margin: 0 0 28px 0;
    font-size: 18px;
    text-align: right;
    height: 48px;
    position: relative;
    top: -93px;
    left: 16px;
}

#sc_page03_graph_horizontal_numbers {
    position:absolute;
    top: 429px;
    left: 12px;
}

#sc_page03_graph_horizontal_numbers ul {
    list-style:none;
    padding:0;
    margin:0;
}

#sc_page03_graph_horizontal_numbers li {
    width: 46px;
    margin: 0 0px 0 0;
    display:inline-block;
    font-size:18px;
    text-align:left;
}

#sc_page03_graph_content_large .graph1_vertical_axis_title_large {
    position: absolute;
    left: -387px;
    top: -80px;
    font-size: 18px;
    -webkit-transform: rotate(-90deg);
    z-index: 20;
    margin:0 !important;
    padding:0 !important;
}

#sc_page03_graph_content_large .graph1_horizontal_axis_title_large {
    position: absolute;
    left: 190px;
    top: 460px;
    font-size: 21px;
    margin:0 !important;
    padding: 0 !important;
}

#sc_page03_graph_content_large .graph1_legend_1_large {
    position: absolute;
    font-size: 14px;
    top: 80px;
    left: 558px;
    margin:0;
    padding:0;
}
#sc_page03_graph_content_large .graph1_legend_2_large {
    position: absolute;
    font-size: 14px;
    top: 102px;
    left: 558px;
    margin:0;
    padding:0;
}
#sc_page03_graph_content_large .graph1_legend_3_large {
    position: absolute;
    font-size: 14px;
    top: 643px;
    left: 155px;
    margin:0;
    padding:0;
}

#sc_page03_graph_content_large .graph1_bottom_text_large {
    position: absolute;
    top: 489px;
    left: 49px;
    font-size: 14px;
    margin:0;
    padding:0 !important;

}

#enlarge_graph_1_sc_page03 {
    top: 120px;
    left: 743px;
}

