#sc_popup_01 #center-content {
    margin:0 auto;
    width: 77%;
    position: relative;
    top: 36px;
    left: -43px;
}

#sc_popup_01 h4 {
    color: rgb(174, 27, 53 );
    margin-bottom: 15px;
}

#sc_popup_01 .left{
    float: left;
}
#sc_popup_01 .right{
    float: right;
}
#sc_popup_01 .blocks{
    width: 305px;
    margin: 5px 0px 5px 80px;
    text-align: center;
}

#sc_popup_01  #firstdesc{
    text-align: left;
    position: absolute;
    top: 121px;
    left: -84px;
    font-size: 10pt;
    width: 204px;
}

#sc_popup_01  #secdesc{
     text-align: left;
     position: absolute;
     top: 265px;
     left: -84px;
     font-size: 10pt;
     width: 204px;
 }

#sc_popup_01  #thirdesc{
    text-align: left;
    position: absolute;
    top: 119px;
    left: 622px;
    font-size: 10pt;
    width: 204px;
}