#sc_popup_04_02 h4 {
    color: rgb(174, 27, 53 );
    margin-left: 410px;
    margin-top: 20px;

}
#slide-title_sc_popup0402 {
    z-index: 10000;
    position: relative;
    left: 85px;
    text-align: center;
    top: 43px;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 14pt;
}
#sc_popup_04_02 #bottom-copy {
    position: relative;
    top: 446px;
    width: 703px;
    margin-left: 120px;

}
#sc_popup_04_02 #red-square{
    position: absolute;

    top: 580px;
    left: 101px;
}

/* GRAPH */
 #legend1_sc_popup0402{
    position: absolute;
    top: 168px;
    left: 353px;
    font-size: 15px;
    margin: 0 !important;
    padding: 0 !important;
}

#legend2_sc_popup0402{
    position: absolute;
    top: 143px;
    left: 353px;
    font-size: 15px;
    padding: 0 !important;
    margin: 0 !important;
}
#legend3_sc_popup0402{
    position: absolute;
    top: 194px;
    left: 353px;
    font-size: 15px;
    padding: 0 !important;
    margin: 0 !important;
}
#legend4_sc_popup0402{
    position: absolute;
    top: 59px;
    left: 279px;
    font-size: 12pt;
}

#sc_popup_04_02 #white-slogan{
    position: absolute;
    font-size: 19pt;
    color: rgb(255, 255, 255);
    top: 97px;
    left: 48px;
    width: 221px;
    text-align: center;
    line-height: 122%;
}

#sc_popup_04_02_large
{
    width:840px;
    -webkit-transform: scale(0.7);
    position: absolute;
    left: 63px;
    top: 54px;
}

#sc_popup_04_02_graph_holder .poz_graph_1 {
    position: absolute;
    left: -75px;
    top: -45px;
}

#sc_popup_04_02_graph_holder .poz_graph_2 {
    position: absolute;
    right: -201px;
    top: -103px;
}

#sc_popup_04_02_graph_holder {
    right: 184px;
    width: 598px;
    height: 448px;
    position: absolute;
    top: 85px;
}

#sc_popup_04_02_graph_vertical_numbers {
    width:20px;
    position:absolute;
    top: 154px;
    left: 73px;
}

#sc_popup_04_02_graph_vertical_numbers ul {
    list-style:none;
    width:20px;
    padding:0;
    margin:0;
}

#sc_popup_04_02_graph_vertical_numbers li {
    width:20px;
    margin: 0 0 35px 0;
    font-size: 15px;
    text-align: right;
    height: 36px;
    position: relative;
    top: -16px;
    left: 16px;
}


#sc_popup_04_02_graph_vertical_numbers-right {
    width:20px;
    position:absolute;
    top: 156px;
    right: 116px;
}

#sc_popup_04_02_graph_vertical_numbers-right ul {
    list-style:none;
    width:20px;
    padding:0;
    margin:0;
}

#sc_popup_04_02_graph_vertical_numbers-right li {
    width:20px;
    margin: 0 0 35px 0;
    font-size: 15px;
    text-align: right;
    height: 25px;
    position: relative;
    top: -22px;
    left: 14px;
}




#sc_popup_04_02_graph_horizontal_numbers {
    position:absolute;
    top: 516px;
    left: 147px;
}

#sc_popup_04_02_graph_horizontal_numbers ul {
    list-style:none;
    padding:0;
    margin-left: -1px;
}

#sc_popup_04_02_graph_horizontal_numbers li {
    width: 41px;
    margin: 0 0px 0 0;
    display:inline-block;
    font-size: 15px;
    text-align:left;
}

#sc_popup_04_02_graph_content_large .graph1_vertical_axis_title_large {
    position: absolute;
    left: -301px;
    top: 191px;
    font-size: 18px;
    -webkit-transform: rotate(-90deg);
    z-index: 20;
    margin: 0 !important;
    padding: 0 !important;
}

#sc_popup_04_02_graph_content_large .graph1_horizontal_axis_title_large {
    position: absolute;
    left: 358px;
    top: 541px;
    font-size: 18px;
    margin: 0 !important;
    padding: 0 !important;
}

#sc_popup_04_02_graph_content_large .graph1_vertical_axis_title_large-right {
    position: absolute;
    right: -288px;
    top: 152px;
    font-size: 18px;
    -webkit-transform: rotate(-90deg);
    z-index: 20;
    margin:0;
    padding:0;
}

#sc_popup_04_02_graph_content_large .graph1_horizontal_axis_title_large-right {
    position: absolute;
    left: 212px;
    top: 578px;
    font-size: 21px;
}


#sc_popup_04_02_graph_content_large .graph1_legend_1_large {
    position: absolute;
    font-size: 14px;
    top: 80px;
    left: 558px;
    margin:0;
    padding:0;
}
#sc_popup_04_02_graph_content_large .graph1_legend_2_large {
    position: absolute;
    font-size: 14px;
    top: 102px;
    left: 558px;
    margin:0;
    padding:0;
}
#sc_popup_04_02_graph_content_large .graph1_legend_3_large {
    position: absolute;
    font-size: 14px;
    top: 643px;
    left: 155px;
    margin:0;
    padding:0;
}

#sc_popup_04_02_graph_content_large .graph1_bottom_text_large {
    position: absolute;
    top: 570px;
    left: 227px;
    font-size: 14px;
    margin: 0 !important;
    padding:0 !important;

    width: 100%;
}


#enlarge_graph_1_sc_popup_04_02 {
    top: 121px;
    left: 790px;
    z-index: 100000;
}
#container_popup_04_02 {
    width: 840px;
    height: 600px;


    position: relative;
    left: 17px;
}

#container_popup_04_02 img {
    position: relative;
    left: 117px;
    top: 51px;
    width: 684px;
    height: auto;
}
