#sc_page04 h4 {
    color: rgb(174, 27, 53 );
    margin-left: 410px;
    margin-top: 20px;

}
#sc_page04 #slide-title {
    z-index: 10000;
    position: relative;
    left: 11px;
    text-align: center;
    top: 33px;
}
#sc_page04 #bottom-copy {
    position: relative;
    top: 446px;
    width: 703px;
    margin-left: 120px;

}
#sc_page04 #red-square{
    position: absolute;

    top: 580px;
    left: 101px;
}

/* GRAPH */
#sc_page04 #legend1{
    position: absolute;
    top: 44px;
    left: 62px;
    font-size: 12pt;
}

#sc_page04 #legend2{
    position: absolute;
    top: 74px;
    left: 60px;
    font-size: 12pt;
}
#sc_page04 #legend3{
    position: absolute;
    top: 108px;
    left: 60px;
    font-size: 12pt;
}
#sc_page04 #legend4{
    position: absolute;
    top: 44px;
    left: 318px;
    font-size: 12pt;
}

#sc_page04 #white-slogan{
    position: absolute;
    font-size: 19pt;
    color: rgb(255, 255, 255);
    top: 97px;
    left: 48px;
    width: 221px;
    text-align: center;
    line-height: 122%;
}

#sc_page04_large
{
    width:840px;
    -webkit-transform: scale(0.6);
}

#sc_page04_graph_holder .poz_graph_1 {
    position: absolute;
    left: -75px;
    top: -68px;
}

#sc_page04_graph_holder .poz_graph_2 {
    position: absolute;
    right: -201px;
    top: -103px;
}

#sc_page04_graph_holder {
    right: 193px;
    width: 600px;
    height: 448px;
    position: absolute;
    top: 110px;
}

#sc_page04_graph_vertical_numbers {
    width:20px;
    position:absolute;
    top: 219px;
    left: -35px;
}

#sc_page04_graph_vertical_numbers ul {
    list-style:none;
    width:20px;
    padding:0;
    margin:0;
}

#sc_page04_graph_vertical_numbers li {
    width:20px;
    margin: 0 0 28px 0;
    font-size: 18px;
    text-align: right;
    height: 74px;
    position: relative;
    top: -93px;
    left: 16px;
}


#sc_page04_graph_vertical_numbers-right {
    width:20px;
    position:absolute;
    top: 210px;
    right: 140px;
}

#sc_page04_graph_vertical_numbers-right ul {
    list-style:none;
    width:20px;
    padding:0;
    margin:0;
}

#sc_page04_graph_vertical_numbers-right li {
    width:20px;
    margin: 0 0 28px 0;
    font-size: 18px;
    text-align: right;
    height: 111px;
    position: relative;
    top: -93px;
    left: 16px;
}



#sc_page04_graph_vertical_numbers li:nth-child(1) {
    position: relative;
    top: -106px;
    left: -4px;
}
#sc_page04_graph_vertical_numbers li:nth-child(2) {
    position: relative;
    top: -103px;
    left: 12px;
}

#sc_page04_graph_horizontal_numbers {
    position:absolute;
    top: 565px;
    left: 33px;
}

#sc_page04_graph_horizontal_numbers ul {
    list-style:none;
    padding:0;
    margin:0;
}

#sc_page04_graph_horizontal_numbers li {
    width: 88px;
    margin: 0 0px 0 0;
    display:inline-block;
    font-size:18px;
    text-align:left;
}

#sc_page04_graph_content_large .graph1_vertical_axis_title_large {
    position: absolute;
    left: -405px;
    top: 186px;
    font-size: 18px;
    -webkit-transform: rotate(-90deg);
    z-index: 20;
    margin:0;
    padding:0;
}

#sc_page04_graph_content_large .graph1_horizontal_axis_title_large {
    position: absolute;
    left: 212px;
    top: 578px;
    font-size: 21px;
}

#sc_page04_graph_content_large .graph1_vertical_axis_title_large-right {
    position: absolute;
    right: -278px;
    top: 186px;
    font-size: 18px;
    -webkit-transform: rotate(-90deg);
    z-index: 20;
    margin:0;
    padding:0;
}

#sc_page04_graph_content_large .graph1_horizontal_axis_title_large-right {
    position: absolute;
    left: 212px;
    top: 578px;
    font-size: 21px;
}


#sc_page04_graph_content_large .graph1_legend_1_large {
    position: absolute;
    font-size: 14px;
    top: 80px;
    left: 558px;
    margin:0;
    padding:0;
}
#sc_page04_graph_content_large .graph1_legend_2_large {
    position: absolute;
    font-size: 14px;
    top: 102px;
    left: 558px;
    margin:0;
    padding:0;
}
#sc_page04_graph_content_large .graph1_legend_3_large {
    position: absolute;
    font-size: 14px;
    top: 643px;
    left: 155px;
    margin:0;
    padding:0;
}

#sc_page04_graph_content_large .graph1_bottom_text_large {
    position: absolute;
    top: 631px;
    left: -50px;
    font-size: 14px;
    margin:0;
    padding:0 !important;

    width: 100%;
}

