#sc_page04 .closePopup{
    right:62px !important;
}

#sc_page04 h4 {
    color: rgb(174, 27, 53 );
    margin-left: 410px;
    margin-top: 16px;

}
#slide-title_sc_page04 {
    z-index: 10000;
    position: relative;
    left: 69px;
    text-align: center;
    top: 32px;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 14pt;
}
#sc_page04 #bottom-copy {
    position: absolute;
    top: 549px;
    width: 703px;
    margin-left: 120px;

}
#sc_page04 #red-square{
    position: absolute;

    top: 551px;
    left: 101px;
}

/* GRAPH */
#legend1_sc_page04{
    position: absolute;
    top: 41px;
    left: 94px;
    font-size: 15px;
    margin: 0 !important;
    padding: 0 !important;
}

#legend2_sc_page04{
    position: absolute;
    top: 65px;
    left: 96px;
    font-size: 15px;
    margin: 0 !important;
    padding: 0 !important;
}
#legend3_sc_page04{
    position: absolute;
    top: 88px;
    left: 97px;
    font-size: 15px;
    margin: 0 !important;
    padding: 0 !important;
}
#legend4_sc_page04{
    position: absolute;
    top: 42px;
    left: 305px;
    margin: 0 !important;
    padding: 0 26px !important;
    font-size: 15px;
    background: url("../../content/images/sc_page04/legend.png") no-repeat;
}

#sc_page04 #white-slogan{
    position: absolute;
    font-size: 19pt;
    color: rgb(255, 255, 255);
    top: 97px;
    left: 48px;
    width: 221px;
    text-align: center;
    line-height: 122%;
}

#sc_page04_large
{
    width:840px;
    -webkit-transform: scale(0.7);
    position: relative;
    top: -84px;
    left: 89px;
}

#sc_page04_graph_holder img {
    margin-left: 28px;
    margin-top: 20px;
}


#sc_page04_graph_holder .poz_graph_1 {
    position: absolute;
    left: -75px;
    top: -68px;
}

#sc_page04_graph_holder .poz_graph_2 {
    position: absolute;
    right: -201px;
    top: -103px;
}

#sc_page04_graph_holder {
    left: 108px;
    width: 600px;
    height: 448px;
    position: relative;
    top: 32px;
}

#sc_page04_graph_vertical_numbers {
    width:20px;
    position:absolute;
    top: 197px;
    left: -10px;
}

#sc_page04_graph_vertical_numbers ul {
    list-style:none;
    width:20px;
    padding:0;
    margin:0;
}

#sc_page04_graph_vertical_numbers li {
    width: 22px;
    margin: 0 0 31px 0;
    font-size: 15px;
    text-align: right;
    height: 54px;
    position: relative;
    top: -119px;
    left: 16px;
}


#sc_page04_graph_vertical_numbers-right {
    width:20px;
    position:absolute;
    top: 210px;
    right: 140px;
}

#sc_page04_graph_vertical_numbers-right ul {
    list-style:none;
    width:20px;
    padding:0;
    margin:0;
}

#sc_page04_graph_vertical_numbers-right li {
    width:20px;
    margin: 0 0 28px 0;
    font-size: 15px;
    text-align: right;
    height: 83px;
    position: relative;
    top: -128px;
    left: 163px;
}



#sc_page04_graph_vertical_numbers li:nth-child(1) {
    position: relative;
    top: -113px;
    left: 1px;
}
#sc_page04_graph_vertical_numbers li:nth-child(2) {
    position: relative;
    top: -117px;
    left: 12px;
}

#sc_page04_graph_horizontal_numbers {
    position:absolute;
    top: 441px;
    left: 56px;
    width: 100%;
}

#sc_page04_graph_horizontal_numbers ul {
    list-style:none;
    padding:0;
    margin:0;
    width: 700px;
}

#sc_page04_graph_horizontal_numbers li {
    width: 69px;
    margin: 0 0px 0 0px;
    display:inline-block;
    font-size: 15px;
    text-align:left;
}

#sc_page04_graph_content_large .graph1_vertical_axis_title_large {
    position: absolute;
    left: -270px;
    top: 186px;
    font-size: 16px;
    -webkit-transform: rotate(-90deg);
    z-index: 20;
    margin: 0 !important;
    padding: 0 !important;
}

#sc_page04_graph_content_large .graph1_horizontal_axis_title_large {
    position: absolute;
    left: 243px;
    top: 467px;
    font-size: 16px;
    margin: 0 !important;
    padding: 0 !important;
}

#sc_page04_graph_content_large .graph1_vertical_axis_title_large-right {
    position: absolute;
    right: -315px;
    top: 207px;
    font-size: 17px;
    -webkit-transform: rotate(-90deg);
    z-index: 20;
    margin: 0 !important;
    padding: 0 !important;
}

#sc_page04_graph_content_large .graph1_horizontal_axis_title_large-right {
    position: absolute;
    left: 212px;
    top: 578px;
    font-size: 21px;
}


#sc_page04_graph_content_large .graph1_legend_1_large {
    position: absolute;
    font-size: 14px;
    top: 80px;
    left: 558px;
    margin:0;
    padding:0;
}
#sc_page04_graph_content_large .graph1_legend_2_large {
    position: absolute;
    font-size: 14px;
    top: 102px;
    left: 558px;
    margin:0;
    padding:0;
}
#sc_page04_graph_content_large .graph1_legend_3_large {
    position: absolute;
    font-size: 14px;
    top: 643px;
    left: 155px;
    margin:0;
    padding:0;
}

#sc_page04_graph_content_large .graph1_bottom_text_large {
    position: absolute;
    top: 502px;
    left: 27px;
    font-size: 11px;
    margin: 0 !important;
    padding:0 !important;

    width: 100%;
}


#sc-pop-up04-01{
    left:825px;
}

#sc-pop-up04-02 {
    top: -51px;
    left: 881px
}

#enlarge_graph_1_sc_page04 {
    top: 116px;
    left: 764px;

}
