#sc_page05 #sub-title {
    color: rgb(174, 27, 53 );
    margin-left: 453px;
    margin-top: 18px;

}
#sc_page05 #list {
    position: relative;
    width: 62%;
    left: 178px;
    top: 33px;
}

#sc_page05 #list li {
      background-image: url(../../content/images/sc_page04/red-square.png);
      background-repeat: no-repeat;
      background-position-x: 0%;
      padding-left: 25px;
      padding-bottom: 15px;

  }
#sc_page_05_graph2_holder {
    width: 600px;
    height: 396px;
    position:absolute;
    top: 221px;
    left: 239px;
}

#sc_page_05_graph2_holder img {
    position:absolute;
    top: 66px;
    left: 72px;
}

#sc_page_05_graph2_arrow1 {
    width: 115px;
    height:177px;
    overflow:hidden;
    position:absolute;
    left: 80px;
    bottom: 79px;
    -webkit-transition: height .75s;
    -webkit-backface-visibility: hidden;
}

#sc_page_05_graph2_arrow1 img {
    position:absolute;
    top: -31px;
    left: 28px;
}



#sc_page_05_graph2_arrow3 {
    width: 271px;
    height:111px;
    overflow:hidden;
    position:absolute;
    left: 30px;
    bottom: 78px;
    -webkit-transition: height .75s;
    -webkit-backface-visibility: hidden;
}

#sc_page_05_graph2_arrow3 img {
    position:absolute;
    top: -61px;
    left: 180px;
}


#sc_page_05_graph2_arrow1-2 {
    width: 115px;
    height:177px;
    overflow:hidden;
    position:absolute;
    left: 328px;
    bottom: 79px;
    -webkit-transition: height .75s;
    -webkit-backface-visibility: hidden;
}

#sc_page_05_graph2_arrow1-2 img {
    position:absolute;
    top: -31px;
    left: 28px;
}



#sc_page_05_graph2_arrow3-2 {
    width: 271px;
    height:111px;
    overflow:hidden;
    position:absolute;
    left: 271px;
    bottom: 78px;
    -webkit-transition: height .75s;
    -webkit-backface-visibility: hidden;
}

#sc_page_05_graph2_arrow3-2 img {
    position:absolute;
    top: -61px;
    left: 180px;
}


#sc_page_05_image1 {
    width:404px;
    height:210px;
    background:url(../../content/images/carer_pages/neulasta_efficacy/ne_page1_image1.png) no-repeat;
    position:absolute;
    top:420px;
    left:120px;
}

#sc_page_05_graph2_vertical_axis_value li {
    margin-bottom: 36px;
    position: relative;
    left: 40px;

    margin-left: 19px;
    z-index: 10;
    font-size: 12px;
    top: 67px;
}

#sc_page_05_graph2_bar3_text {
    position: absolute;
    color: white;
    top: -10px;
    left: 107px;
    z-index: 100;
    text-align: center;
    font-size: 10px;
    width: 200px;
}

#sc_page05 #footer-copy{
    position: absolute;
    left: 163px;
    top: 674px;
}

#sc_page_05_graph2_bar1_text {
    position: absolute;
    color: white;
    top: 60px;
    left: -50px;
    z-index: 100;
    text-align: center;
    font-size: 10px;
    width: 200px;
}


#sc_page_05_graph2_bar3_text-2 {
    position: absolute;
    color: white;
    top: -10px;
    left: 107px;
    z-index: 100;
    text-align: center;
    font-size: 10px;
    width: 200px;
}



#sc_page_05_graph2_bar1_text-2 {
    position: absolute;
    color: white;
    top: 60px;
    left: -50px;
    z-index: 100;
    text-align: center;
    font-size: 10px;
    width: 200px;
}

#sc_page_05_graph2_content #graph2_legend2 {
    position: absolute;
    top: 42px;
    left: 474px;
    font-size: 9px;
}

#cooper_2011_graph2_content #graph2_title_sc_page_05 {
    font-size: 16px;
    position: absolute;
    top: 27px;
    left: 176px;
    letter-spacing: -1px;
    color: black;
    text-align: center;
}

#cooper_2011_graph2_content #graph2_legend1_sc_page_05 {
    position: absolute;
    top: 71px;
    left: -61px;
    font-size: 9px;
    text-align: center;
}

#cooper_2011_graph2_content #graph2_legend2_sc_page_05 {
    position: absolute;
    top: 25px;
    left: 314px;
    font-size: 9px;
}

#cooper_2011_graph2_content #graph2_vertical_axis_title_sc_page_05 {
    position: absolute;
    top: 34px;
    -webkit-transform: rotate(-90deg);
    left: -229px;
    font-size: 14px;
}

#cooper_2011_graph2_content #graph2_bottom_text_sc_page_05 {
    position: absolute;
    font-size: 9px;
    bottom: 1px;
    left: 50px;
    text-align: center;
}

#cooper_2011_graph2_content #graph2_legend2_sc_page_05 {
    position: absolute;
    top: 71px;
    left: 185px;
    font-size: 9px;
    text-align: center;
}


#sc_page05_first_footer_label{
position: absolute;
top: 298px;
text-align: center;
left: -106px;
font-size: 9pt;
}
#sc_page05_second_footer_label{
position: absolute;
text-align: center;
top: 301px;
font-size: 9pt;
}
#sc_page05_third_footer_label{
position: absolute;
top: 300px;
text-align: center;
font-size: 9pt;
left: 145px;
}

#sc_page05_fourth_footer_label{
    position: absolute;
    left: 237px;
    top: 301px;
    font-size: 9pt;
    text-align: center;
}